.img-100 {
    width: 100%;
}
.inside-header-top {
	height:100px;
	width:100%;
}
.company-top-section {
    background-image: url(../images/company/section-bg.jpg);
    background-position: center;
}
.company-top-section .left-black-section {
    padding: 150px 100px 150px 0;
    color: #fff;
    background: url(../images/company/black-bg.jpg);
    background-size: cover;
    background-position: center center;
}
.company-top-section .left-black-section .fa {
    margin-bottom: 10px;
    opacity: 0.8;
}
.company-logo-block {
    background: #f1f1f1;
    padding: 60px 10px;
}
.company-logo-block .logo-arrow {
    float: left;
    margin: 0 20px;    
	opacity: 0.5;
}
.company-logo-block .logo-arrow:hover {   
	opacity: 1;
}
.company-logo-bottom h2 {
    background: rgba(255, 255, 255, 0.8);
    margin-left: -90px;
    padding: 10px;
    color: #0e52ae;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 30px;
	position: relative;
	    z-index: 1;
}

.company-logo-bottom p {
	margin-left:40px;
}
.left-black-bottom {
    margin-top: 40px;
    font-style: italic;
    opacity: 0.7;
    font-family: cabin;
	position:relative;
}
.left-black-bottom:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background: #f5f5f5;
    bottom: -40px;
    left: 0;
}
.company-bottom-section {
    padding: 20px 0;
}
.company-bottom-section .page-anchor {
    margin-bottom: 80px;
    color: #676767;
    font-size: 14px;
    padding: 0;
}
.company-bottom-section .page-anchor  li {
    display: table-cell;
}
.company-bottom-section .page-anchor  li a.active{
	color:black;
}
.company-bottom-section .page-anchor  li  a {
    color: #676767;
    text-decoration: none;
    margin-right: 10px;
}
.company-bottom-section .page-anchor  li  a:hover {
    color: #333;
}
.company-bottom-section-visited .page-anchor  li  a:visited {
    color:black;
}
.company-bottom-section .table {
    border: 1px solid #ddd;
    font-family: 'Old Standard TT', serif;
}
.company-bottom-section .table > tbody > tr > td {
	border: 1px solid #ddd;
}
@media (max-width:1024px) {

	.company-logo-bottom h2 {
		background: rgba(255, 255, 255, 0.8);
		margin-left: -90px;
		padding: 10px;
		color: #0e52ae;
		font-size: 19px;
		letter-spacing: 4px;
		text-transform: uppercase;
		font-weight: 100;
		margin-bottom: 0px;
		position: relative;
			z-index: 1;
	}
	
}
@media (max-width:911px) {
	.company-top-section {
		background-image: none;
	}
	.company-top-section .left-black-section {
		padding: 30px;
	}
	.left-black-bottom::after {
		bottom: -10px;
	}
	.company-top-section .pull-right {
		float: none !important;
	}
	.company-logo-bottom h2 {
		margin-left: 0;
		margin-bottom: 10px;
	}
	.company-logo-bottom p {
		margin-left: 10px;
	}
	.company-bottom-section .page-anchor {
		margin-bottom: 10px;
	}
	.company-bottom-section .table {
		margin-top: 30px;
	}
}

@media (max-width:767px) {
	.company-logo-bottom h2 {
		font-size: 18px;
		letter-spacing: 1px;
		padding: 0;
	}
	.company-logo-bottom-matrikon h2 {
		font-size: 10px;
		letter-spacing: 1px;
		padding: 0;
	}
	.company-logo-bottom p {
		margin-left: 0;
	}
	.company-top-section .left-black-section {
		padding: 20px;
	}
	.company-bottom-section .page-anchor li a {
		margin-right: 5px;
		font-size: 13px;
	}
	.company-bottom-section .table {
		margin-top: 10px;
	}
}
