.left-black-section.land-div{
    padding: 210px 100px 93px 0;
    
}
.company-logo-block .logo-div{
    padding: 39px 10px;
}

@media (max-width:911px) {
	.left-black-section.land-div {
        padding: 40px 54px 55px 21px;
    }
}
@media (max-width:767px) {
    .left-black-section .land-div {
        padding: 40px 110px 85px 40px;
    }
}
